<!DOCTYPE html>
<html>
  <head>
    <title>StockListTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <%= link_to "User: Sign Up", new_user_registration_path %>
       <%= link_to "Admin: Sign Up", new_admin_registration_path %>
       <%= link_to "User: Sign In", new_user_session_path %>
       <%= link_to "Admin: Sign In", new_user_session_path %>
    <%= yield %>
  </body>
</html>
